.mainContainer {
  height: 100%;
  background: #ffffff;
  padding: 0 3rem;
}

.header {
  width: 70%;
  height: 100%;
  margin: auto;
  border: solid 1px #517eb9;
  border-radius: 25px;
  padding: 1rem;
}

.header h1 {
    text-align: center;
    font-size: 30px;
    color: #517EB9;
}

.header h2 {
    text-align: center;
    font-size: 25px;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 3rem 0 1rem 0;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 8px;
  border: 8px solid #517eb9;
  border-radius: 50%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #517eb9 transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingMsg {
  font-size: 20px;
  color: #517eb9
}
