
  .linkedinIcon {
    display: inline-block;
    margin: 2rem 1rem;
    font-size: 25px;
    color: #2563eb
  }
  
  .githubIcon {
    display: inline-block;
    margin: 2rem 1rem;
    font-size: 25px;
    color: #f35a4b
  }

  .stackoverflowIcon {
    display: inline-block;
    margin: 2rem 1rem;
    font-size: 25px;
    color: #1e40af
  }