.stepsContainers {
    text-align: center;
    color: #FFFFFF;
    margin-top: 5rem;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.stepsIcons{ 
    display: block;
    color: #bfdbfe;
    font-size: 55px;
    text-align: center;
    margin: 1rem auto;
}

.stepsTitle {
    font-style: 20px
}

.message {
    font-size: 15px;
    color: #93c5fd;
    
}